@import "main.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Shrikhand&display=swap');

@mixin section-title {
    font-size:2.4rem;
    font-weight: 700;
}

@mixin section-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@mixin card{
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    box-sizing: border-box;
}

@mixin cardPhoto{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    z-index: 1;
}

@mixin heartIcon{
    font-size: 2.3rem;
    background-image:$main-background-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    position: absolute;
    bottom: 27px;
    right: 25px;
    opacity: 1;
    z-index: 2;
    transition: opacity 0.75s ease-in;
    
    &:hover{
        opacity:0;
        -webkit-text-stroke: 0px $main-background-color;
    }
    
}

@mixin heartIconChecked{
    font-size: 2.3rem;
    background-image:linear-gradient(352deg, $main-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px $main-background-color;
    position: absolute;
    bottom: 27px;
    right: 25px;
    opacity: 0;
    z-index: 2;
    transition: all 0.75s ease-out;
    
    &:hover{
        opacity:1;
    }
}

@keyframes fadeAway{
    0%{
        opacity: 1;
        visibility: visible;
    }
    
    70%{
        opacity: 1;
        visibility: visible;
    }
    
    100%{
        opacity: 0;
    }
}

@keyframes loading{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes text-color{
    0%{
        color:rgba(234,234,234,1);
    }
    50%{
        color:rgba(234,234,234,0.5)
    }
    100%{
        color:rgba(234,234,234,1);
    }
}

body{
    background-color: $main-background-color;
    margin:0;
    
    .loader{
        position: fixed;
        top:0;
        left: 0;
        width:100vw;
        height:100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-color;
        z-index: 9;
        opacity: 0;
        animation: fadeAway 3s;
        visibility: hidden;
        .loader__spinner{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            height: 280px;          
            position: relative;
         
        .loader__spinner--logo{
            font-family: Shrikhand;
            color: $main-background-color;
            font-size: 3rem;
            animation: text-color 1.2s ease-in-out infinite;
        }
        .loader__spinner--one{
            border-top:15px solid $secondary-color;
            border-radius: 50%;
            position: absolute;
            width: 100%;
            height: 100%;
            animation: loading 1.5s ease-out infinite;
            mix-blend-mode: overlay;
        }
        .loader__spinner--two{
            border-bottom:15px solid $tertiary-color;
            border-radius: 50%;
            position: absolute;
            width: 100%;
            height: 100%;
            animation: loading 1.2s ease-in infinite;
        }       
        }
    }
    
    
    .logo{
            @include logo
    }

    .location{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $tertiary-background-color;
        height: 5rem;
        gap:1.7rem;
        margin:0 -8px 0 -8px;
            .fa-solid{
                font-size: 1.6rem;
            }
            .location__city{
                font-size:1.6rem;
                font-weight: 600;
            }
    }

    .intro{
        @include section-display;
        background-color: $secondary-background-color;
        margin: 0 -8px 0 -8px;
            .intro__title{
                @include section-title;
                text-align: center;
                margin-top: 39.5px;
                margin-bottom: 0;
                padding:0 5.8rem 0 4.2rem;
            }
            .intro__text{
                font-size: 1.7rem;
                text-align: center;
                font-weight: 300;
                line-height: 2.109rem;
                padding: 0 2.6rem 0 3.4rem;
            }
            .intro__button{
                @include button;
                width: 21.85rem;
                margin-bottom: 7rem;
            }
        }
    
    .functioning{
        @include section-display;
        
        .functioning__title{
            @include section-title;
            align-self: flex-start;
            margin:50px 0 25px 28px;
            @media (min-width: 768px){
                margin-left:-1%;
            }
           
        }
        .functioningCards{
            width: 100%;
            margin-bottom: 50px;
        
            .functioningCards__card{
                @include card;
                background-color: $secondary-background-color;
                height:7.238rem;
                align-items: center;
                gap: 25px;
                margin: 0 20px 25px 35.5px;
                box-shadow: 0px 4px 10px rgba(0,0,0,0.15);    
                position: relative;
                .functioningCards__card--number{
                    background-color:$main-color;
                    width:2.4rem;
                    min-width: 2.4rem;
                    height: 2.4rem;
                    border-radius: 50px;
                    font-size:1.6rem;
                    font-weight: 500;
                    color:$main-background-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left:-12px;
                }
                
                .icon{
                    font-size: 2rem;
                    padding-left: 35px;
                }
                .functioningCards__card--menuIcon{
                    display: inline-block;
                }
                .functioningCards__card--menuIcon .icon{
                    display: inline-block;
                }

                .purple{
                    color: $main-color;
                }
                .functioningCards__card--text{
                    font-size: 1.6rem;
                    font-weight: bold;
                }
                @media (min-width: 768px){
                    width: 30%;
                    margin:0;
                    gap:24px;
                }
            }
        @media (min-width: 768px){
            display: flex;
            flex-direction: row;
            gap:3.5%
        }  

        }
        @media (min-width: 768px){
            margin: 0 12%
        }
    }
    .restaurants{
        background-color: $secondary-background-color;
        @include section-display;
        margin-right: -8px;
        padding-bottom: 66px;
        .restaurants__title{
            @include section-title;
            align-self: flex-start;
            margin:50px 0px 25px 20px;
            @media (min-width: 768px){
                margin-left: 12.25%;
                margin-bottom: 50px;
            }
        }
        .restaurantsCards{
            width:100%;
        
            .restaurantsCards__card{
                @include section-display;
                height: 251px;
                width: 92%;
                background-color: $main-background-color;
                border-radius: 15px;
                margin:0 15px 15px 15px;
                position: relative;
                .card-link{
                    position: absolute;
                    top:0;
                    bottom: 0;
                    left:0;
                    width: 100%;
                }
                
                .restaurantsCards__cardPhoto{
                    height:69.32% ;
                    width: 100%;
                    position: relative;
                    .new{
                        font-size: 1.6rem;
                        font-weight: 500;
                        color:#008766;
                        padding:7px 9px;
                        background-color: $tertiary-color;
                        z-index: 2;
                        position: absolute;
                        top:0px;
                        right: 15px;
                    
                    }
                    .restaurantsCards__cardPhoto--palette{
                        @include cardPhoto;
                        object-position: 50% 100%;
                        @media (min-width: 768px){
                            object-position: 50% 67%;;
                        }
                    }
                    .restaurantsCards__cardPhoto--note{
                        @include cardPhoto;
                        object-position: 50% 61%;
                        @media (min-width: 768px){
                            object-position: 50% 56%;
                        }
                    }
                    .restaurantsCards__cardPhoto--française{
                        @include cardPhoto;
                        object-position: 50% 100%;
                        @media (min-width: 768px){
                            object-position: 50% 60%;
                        }
                    }
                    .restaurantsCards__cardPhoto--délice{
                        @include cardPhoto;
                        object-position: 50% 95%;
                        @media (min-width: 768px){
                            object-position: 50% 65%;
                        }
                    }
                }
                
                    
                .restaurantsCards__card--content{
                    height: 77px;
                    width: 100%;
                    display:grid;
                    grid-template-areas:
                    "restaurant side"
                    "location side";
                    grid-template-columns: 3fr 1fr;
                    grid-template-rows:1fr 1fr;
                    z-index: 1;
                    position: relative;
                
                    .restaurantsCards__card--content--restaurant{
                        grid-area: restaurant;
                        font-size: 18px;
                        margin-top: 16px;
                        font-weight: 700;
                        padding-left:13px;
                        align-self:end;
                    
                    }                 
                    .restaurantsCards__card--content--location{
                        grid-area: location;
                        font-size: 17px;
                        font-weight: 300;
                        padding-left: 13px;
                        margin-top: 0px;
                        line-height: 0px;
                        align-self:start;
                    }
                    .restaurantsCards__card--content--icon{
                        @include heartIcon;
                    }
                    
                    .restaurantsCards__card--content--icon--checked{
                        @include heartIconChecked;
                    }
                    
                       
                        // .restaurantsCards__card--content--heartCheckBox:after {
                        //   background-image: linear-gradient(to bottom, $main-color, $secondary-color);
                        //   content: "";
                        //   opacity: 0;
                        //   z-index: -2;
                        //   transition: opacity 2s;
                        //   -webkit-background-clip: text;
                        //   -webkit-text-fill-color: transparent;
                        // }
                        // .restaurantsCards__card--content--heartCheckBox:hover {
                        //     opacity:0;
                        //   &:after {
                        //     opacity: 1;
                        //     z-index: 2;
                        //   }
                        // }
                    //   }
                    // .restaurantsCards__card--content--heartCheckBox:after{
                    //     content:"";
                    //     background-image: linear-gradient(to bottom, $main-color, $secondary-color);
                    //     z-index:2;
                    // }
                    
                }
            @media (min-width: 768px){
                width:34.03%;
                margin-bottom: 50px;
                
            }
            }   
            @media (min-width: 768px){
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap:5.34%;
                margin-left:13%;
                margin-right: 13%;
                justify-content: center;
                padding-bottom: 15px;
               
            } 

        }
    }

    footer{
        color: $main-background-color;
        background-color:$footer-color;
        .footer__content{
            padding:10px 25px 22px 30px ;
            @media(min-width: 768px){
                display: flex;
                flex-direction: row;
                padding-top: 57px;
                justify-content: flex-end;             
            }
            .footer__title{
                font-family: Shrikhand;
                font-size: 1.8rem;
                font-weight: 400;
                @media(min-width: 768px){
                    margin-right: 2.77%;
                    margin-left: 6.94%;
                    order: 5;
                } 
            }
            .footer__line{
                display: flex;
                align-items: center;
                gap: 11px;
                font-size:1.6rem;
                line-height: 0;
                @media(min-width: 768px){
                    font-size:1.4rem;
                }
                @media(min-width: 802px){
                    font-size: 1.6rem;
                }

            }
            .contact{
                @media(min-width: 768px){
                    margin-left: 1.18%;
                }
            }
            .legal{
                @media(min-width: 768px){
                    margin-left: 3.47%;
                }
            }
            .apply{
                @media(min-width: 768px){
                    margin-left: 1.52%;
                }
            }
        }
    }
    
}